
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.bojasivazasekciju {
    background-color: rgba(33, 33, 33, 1);
    padding: 100px 20px;
    text-align: center;
}

.background {
    background-image: url("https://raw.githubusercontent.com/IVMU-IVMU//slike/main/mjesec.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding: 100px 20px;
    text-align: center;
}


.bb {
    background-color: rgba(0, 0, 0, 0.5); /* opcionalno za tamni overlay */
    padding: 50px;
    border-radius: 10px;
}


h1 {
    font-size: 80px;
    color: aliceblue;
    margin-bottom: 20px;
}

p {
    font-size: 30px;
    color: aliceblue;
    margin: 0;
}
