h1{
    font-size: 150px;
    color: aliceblue;
    text-align:center;
    z-index: 1;
}
p{
    font-size: 30px;
    color: aliceblue;
    text-align:center;
}
h2,h3{
    font-size: 75px;
    color: aliceblue;
    text-align:center;
    text-shadow: 10px 10px 10px rgb(219, 171, 108);
    z-index: 1;
    position: relative;
}

.background {
    position: static;
    top: 0;
    left: 0;
    background-image: url("https://raw.githubusercontent.com/IVMU-IVMU//slike/main/mjesec.png");
    background-size: auto;
    background-position: center;
    background-attachment: scroll;
}
.bb{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.219);

}
.bojasivazasekciju{
    padding: 50px;
    background-color: rgba(33, 33, 33, 1);
}
